@{
    ViewData["Title"] = "Add Service Point";
}

<!DOCTYPE html>
    <html>
        
    <body>
        <div>
            <h4>Enter Service Point Info.</h4><br />
            <form method="post" class="m-2" >
                <label for="servicepointid" class="form-label">Service Point ID:</label>
                <input type="text" id="servicepointid" name="servicepointid"><br>
                <label for="servicedescription" class="form-label">Service Description:</label>
                <input type="text" id="servicepointdescription" name="servicepointdescription"><br>
                <label for="passkey" class="form-label">Passkey:</label>
                <input type="text" id="passkey" name="passkey"><br>
                <input type="submit" value="Save Service Point" class="btn btn-primary mt-3" formaction="@Url.Action("AddServicePoint")"/>
            </form>
        </div>
    </body> 
</html>
