
@{
    ViewData["Title"] = "Admin Dashboard";
}

<!DOCTYPE html>
    <html>
        
    <body>
        <div class="text-center m-2">
            <h3>Welcome to X bank QMS dashboard login.</h3><br />
            <h4>
            <li>
                @Html.ActionLink("CONFIGURE SERVICE POINT", "ConfigureServicePoints", "Admin", null)
            </li>
            <li>
                @Html.ActionLink("CONFIGURE SERVICE PROVIDER", "ConfigureServiceProviders", "Admin", null)
            </li>
            <li>
                @Html.ActionLink("GENERATE ANALYTICAL REPORT", "GenerateAnalyticalReport", "Admin", null)
            </li>
            </h4>

            @if (ViewBag.WebReport != null)
            {
                @await ViewBag.WebReport.Render()
            }
            
        </div>
    </body> 
</html>
