@model ServicePoint
@{
    ViewData["Title"] = "Edit Service Point";
}

<!DOCTYPE html>
    <html>
        
    <body>
        <div class="text-center m-2">
            <h4>Enter Service Point Info.</h4><br />
            <form method="post" class="m-2" >
                <label for="servicepointid" class="form-label">Service Point ID:</label>
                <input type="text" id="servicepointid" name="servicepointid" value=@Model.ServicePointID readonly="readonly"><br>
                <label for="servicedescription" class="form-label">Service Description:</label>
                <input type="text" id="servicedescription" name="servicedescription" value=@Model.ServiceDescription><br>
                <label for="passkey" class="form-label">Passkey:</label>
                <input type="text" id="passkey" name="passkey" value=@Model.PassKey><br>
                <input type="submit" value="Save Service Point Changes" class="btn btn-primary mt-3" formaction="@Url.Action("EditServicePoint")"/>
            </form>
            
        </div>
    </body> 
</html>
