@model ServicePoint
@{
    ViewData["Title"] = "Add Service Point";
}

<!DOCTYPE html>
    <html>
        <head>
            <meta name="viewport" content="width=device-width" />
            <title>Party!</title>
        </head>
    <body>
        <div>
            <div>
                Enter Service Point Info.<br />
                <form method="post" asp-action="AddServicePoint" >
                    <label for="servicepointid">Service Point ID:</label>
                    <input type="text" id="servicepointid" name="servicepointid" value=@Model.ServicePointID readonly="readonly"><br>
                    <label for="servicedescription">Service Description:</label>
                    <input type="text" id="servicedescription" name="servicedescription" value=@Model.ServiceDescription><br>
                    <label for="passkey">Passkey:</label>
                    <input type="text" id="passkey" name="passkey" value=@Model.PassKey><br>
                    <input type="submit" value="Save Service Point Changes" formaction="@Url.Action("EditServicePoint")"/>
                </form>
                todo input validation
            </div>
            
        </div>
    </body> 
</html>
