@using System.Security.Claims

@if (!Context.User.Identity.IsAuthenticated)
{
    <ul class="navbar-nav flex-grow-1">
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Login">Log In</a>
        </li>
    </ul>
}
else
{
    var email = Context.User.FindFirst(c => c.Type == ClaimTypes.Email)?.Value;
    <ul class="navbar-nav flex-grow-1">
        <li class="nav-item">
            <span class="nav-link text-dark">@email</span>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Logout">Log Out</a>
        </li>
        
    </ul>
}