@using QueueManagementSystem.MVC.Components
@{
    ViewData["Title"] = "Check-In";
}

<div class="text-center m-2">
    <h2 class="display-4">Welcome to QMS kiosk.</h2><br />
    <h3>Please Select A Service</h3><br />
    
</div> 
<div >
    @(await Html.RenderComponentAsync<Services>(RenderMode.ServerPrerendered))
</div>
        