@using QueueManagementSystem.MVC.Components
@{
    ViewData["Title"] = "Check-In";
}

<!DOCTYPE html>
    <html>
        
    <body style='background-image: url("qms.png");'>
        
        <div class="text-center m-2">
            <h2>Welcome to QMS kiosk.</h2><br />
            <h3>Please Select A Service</h3><br />
            
        </div> 
        <div>
            @(await Html.RenderComponentAsync<Services>(RenderMode.ServerPrerendered))
        </div>
        
    </body> 
</html>

