@using QueueManagementSystem.MVC.Components
@using ServicePoint = QueueManagementSystem.MVC.Components.ServicePoint
@{
    ViewData["Title"] = "Service Point";
}

<!DOCTYPE html>
    <html>
        
    <body>
        <div class="text-center m-2">
            <h2>Welcome to QMS kiosk service point</h2><br />
            
        </div> 
        <div>
            @(await Html.RenderComponentAsync<ServicePoint>(RenderMode.ServerPrerendered))
        </div>
        
        <div>
            @(await Html.RenderComponentAsync<ServicePointQueue>(RenderMode.ServerPrerendered))
        </div>
        
    </body> 
</html>

