@using QueueManagementSystem.MVC.Components
@{
    ViewData["Title"] = "Service Point";
}


<div class="text-center m-2">
    <h2 class="display-4">Welcome to QMS kiosk service point</h2>
    
</div> 
<div>
    @(await Html.RenderComponentAsync<ServicePointOperation>(RenderMode.ServerPrerendered))
</div>

<div>
    @(await Html.RenderComponentAsync<ServicePointQueue>(RenderMode.ServerPrerendered))
</div>
  