@using QueueManagementSystem.MVC.Components
@{
    ViewData["Title"] = "Waiting Page";
}


<div class="text-center m-2">
    <h2 class="display-4">Welcome to QMS kiosk waiting room</h2>
    
</div> 
<div>
    @(await Html.RenderComponentAsync<CalledTickets>(RenderMode.ServerPrerendered))
</div> 
