@using QueueManagementSystem.MVC.Components

@{
    ViewData["Title"] = "Analytics";
}

<!DOCTYPE html>
    <html>
        
    <body>
        <div class="text-center m-2">
            <h2>Welcome to QMS kiosk Service Analytics Page</h2><br />
            
        </div> 

        <div >
            @(await Html.RenderComponentAsync<Analytics>(RenderMode.ServerPrerendered))
        </div>
        
    </body> 
</html>

