@using QueueManagementSystem.MVC.Components

@{
    ViewData["Title"] = "Configure Services";
}

<!DOCTYPE html>
    <html>
        
    <body>
        <div class="text-center m-2">
            <h2>Welcome to QMS kiosk Service Configuration Page</h2><br />
            
        </div> 
        <div >
            @(await Html.RenderComponentAsync<ConfigureServicePoints>(RenderMode.ServerPrerendered))
        </div>
    </body> 
</html>

