@{
    ViewData["Title"] = "Dashboard";
}


<div class="text-center ">
    <div>
        <h2 class="display-4">Welcome to QMS Admin Dashboard.</h2>

    </div>
    <hr>
    <div>
        @Html.ActionLink("Configure Services", "ConfigureServices", "Admin", null, new { @class = "btn btn-primary" })
    </div>
    <hr>
    <div>
        @Html.ActionLink("Configure Service Providers", "ConfigureServiceProviders", "Admin", null, new { @class = "btn btn-primary" })
    </div>
    <hr>
    <div>
        @Html.ActionLink("Configure Service Points", "ConfigureServicePoints", "Admin", null, new { @class = "btn btn-primary" })
    </div>
    <hr>
    <div>
        @Html.ActionLink("Analytical Reports", "Analytics", "Admin", null, new { @class = "btn btn-primary" })
    </div>
</div>
