@{
    ViewData["Title"] = "Login";
}

<!DOCTYPE html>
    <html>
        
    <body>
        <div class="text-center m-2">
            <font color="red">@ViewData["message"]</font><br/>
            <h3>Enter Info To Login.</h3><br/>
            <form method="post" asp-action="Login" class="m-2" >
                <label for="email" class="form-label">User Email:</label>
                <input type="text" id="email" name="email"><br>
                <label for="password" class="form-label">Password:</label>
                <input type="text" id="password" name="password"><br>
                
                <input type="submit" value="Submit" class="btn btn-primary mt-3" formaction="@Url.Action("Login")"/>
            </form>
        </div>
    </body> 
</html>
