@model ServicePointView

@{
    ViewData["Title"] = "Check-In";
}

<!DOCTYPE html>
    <html>
        
    <body>
        <div class="text-center m-2">
            <h2>Welcome to X bank QMS kiosk.</h2><br />
            <h3>What services would you like?</h3><br />
            
            <form method="post" asp-action="CheckinPage" class="m-2" >
                <label for="service" class="form-label"><h4>Please select a service</h4></label>

                    <select name="service_id" id="service" class="form-select">
                        @foreach (var item in Model.ServicePoints)
                        {
                            <option value=@item.ServicePointID>@item.ServiceDescription</option>
                        }
                    </select>
                    <input type="submit" value="Submit" class="btn btn-primary mt-3">
            </form>
            
        
        </div>
    </body> 
</html>
