@{
    ViewData["Title"] = "Waiting Page";
}

<!DOCTYPE html>
    <html>
        
    <body>
        <div class="text-center m-2">
                <h2>Welcome to QMS waiting page.</h2><br />
                <h4>
                <ul>
                    @foreach (var customer in (dynamic)ViewData["queue"])
                    {
                        <li>@customer.Key -------------- @customer.Value</li>
                    }
                </ul>
                </h4>
            
        </div>
    </body> 
</html>
